* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

img{
  height: 60px;
  width: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
th, td {
  width: 14.28%; /* カレンダーの列幅 (7列) */
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
}
th {
  background-color: #f0f0f0;
}
.sunday {
  color: red;
}

/*tbody td:nth-child(1) {
  color: red; /* 日曜日を赤にする */
/*}*/
