/* カレンダー全体のスタイル */
.calendar-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

/* 月と年のスタイル */
.calendar-header {
  font-size: 24px;
  margin-bottom: 10px;
}

/* 曜日と日付のテーブル */
.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
  width: 14.2%;
  height: 50px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

/* 曜日のスタイル */
.calendar-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

/* 日曜日を赤く表示 */
.calendar-table th:nth-child(1),
.calendar-table td:nth-child(1) {
  color: red;
}


/* プラスボタンのスタイル */
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #e0b3ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

img{
  width: 60px;
  height: 40px;
}