body{
  width: 80%;
    max-height: 812px;
    height: 100%;
    background-color: #FFCDEB;
    display: flex;

}

/* ヘッダーのスタイル */
.header{
  position: fixed;
    margin-top: -2%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    padding: 0 0;
    text-align: center;
    z-index: 1000;
}

.logo {
  width: 25%; /* ロゴのサイズ調整 */
  height: auto;
}

/* メインコンテンツのスタイル */
.main{
  width: 90%;
    margin: 0 auto;
    padding: 40% 3% 30%;
    border-radius: 15px;
    position: absolute;
}

.succces{
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 9%;
  left: -2%;
  z-index: 1000;
  color: green;
}

/* プロフィールセクションのスタイル */
.profile {
  background-color: #FFD9E8;
  border-radius: 15px;
  padding: 5%;
  margin-top: -12%;
  margin-bottom: 6%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.profile td {
  font-size: 20px;
  color: #000;
}

.profile form button {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  padding-top: 10px;
  display: block;
  margin-left: auto;
}

/* タグセクションのスタイル */
.tag {
  background-color: #FFD9E8;
  border-radius: 15px;
  padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
  text-align: left;
}

.tag form button {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  padding-top: 10px;
  display: block;
  margin-left: auto;
}

/* フッターメニューのスタイル */
.footer {
  position: fixed;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-bottom: 8px;
    background-color: #d2e3fc;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ログアウト */
.logout {
  text-align: right;
}

button#click-btn{
  border-color: #d7b4fc;
  font-size: 18px;
  padding: 10px;
  margin-top: 55%;
  width: 35%;
}

#popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#popup-inside {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#close {
  margin-top: -3%;
  margin-left: 93%;
}

.logoutsubmit {
  background-color: #d7b4fc;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}